@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --background: #101114;
  --primary-color: #1c1d20;
  --secondary-color: #4a4d57;
  --accent-color: #00ffc4;
  --text-color: #f9f9f9;
}

body {
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  color: var(--text-color);
  min-height: 100vh;
  padding: 1rem;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-top: 100px;
  margin-bottom: 20px;
  font-size: 4rem;
  font-weight: 800;
  text-transform: uppercase;
  color: var(--accent-color);
}

.wrapper {
  width: 700px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#todo-input {
  padding: 1rem 1.5rem;
  width: 100%;
  background: transparent;
  border: 2px solid var(--secondary-color);
  border-radius: 10rem;
  font: inherit;
  color: var(--text-color);
  caret-color: var(--accent-color);
}

#todo-input:focus {
  outline: none;
}

form {
  position: relative;
}

#add-button {
  position: absolute;
  top: 0;
  right: 0;

  background-color: var(--accent-color);
  height: 100%;
  padding: 0 2rem;
  border: none;
  border-radius: 10rem;
  font: inherit;
  font-weight: 600;
  color: var(--background);
  cursor: pointer;
}

.todo {
  margin-bottom: 0.65rem;
  padding: 0 1rem;
  background-color: var(--primary-color);
  border-radius: 1rem;
  display: flex;
  align-items: center;
}

.todo .todo-text {
  padding: 1rem;
  padding-right: 0;
  flex-grow: 1;
  transition: 0.2s ease;
}

.delete-button {
  padding: 3px;
  background: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.delete-button svg {
  transition: 0.2s ease;
}

.delete-button:hover svg {
  fill: #ff0033;
}

.custom-checkbox {
  border: 2px solid var(--accent-color);
  border-radius: 50%;
  min-height: 20px;
  min-width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  transition: 0.2s ease;
  cursor: pointer;
}

input[type="checkbox"]:checked ~ .custom-checkbox {
  background-color: var(--accent-color);
}

input[type="checkbox"]:checked ~ .custom-checkbox svg {
  fill: var(--primary-color);
}

input[type="checkbox"]:checked ~ .todo-text {
  text-decoration: line-through;
  color: var(--secondary-color);
}

input[type="checkbox"] {
  display: none;
}

@media (max-width: 500px) {
  html {
    font-size: 12px;
  }

  #add-button {
    position: unset;
    width: 100%;
    margin-top: 10px;
    padding: 15px;
    height: auto;
  }

  h1 {
    margin-top: 50px;
    font-size: 15vw;
  }
}
